<!-- Footer -->
<footer id="ptap-footer" class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<ul class="text-center">
			<li>
				<a href="#">Link</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
		</ul>
	</div>
</footer>