<!-- Footer -->
<footer id="ptap-footer" class="navbar navbar-default navbar-fixed-bottom">
    <!-- <div style="padding:10px;">
    <img src="images/mtc_logo.png" width="60px" height="58px" alt="logo">
</div>
<div class="pull-right">
    Metropolitan Transportation Commission
    <br> 101 8th St, Oakland, CA, 94607
</div>
 -->
    <div style="width: 400px; overflow: hidden;">
        <div style="width: 60px; float: left; padding-left:20px">
            <a href="http://www.mtc.ca.gov"><img src="images/mtc_logo.png" width="60px" height="58px" alt="logo"> </a>
        </div>
        <div style="margin-left: 100px; padding-top: 5px;"> Metropolitan Transportation Commission
            <br> 101 8th St, Oakland, CA, 94607
        </div>
       
    </div>
</footer>
