<!-- form-box -->
<div id="form-box-4" class="row pad-bottom-l">
	
	<div class="box-wrapper col-lg-8 col-lg-offset-2 slide-1">
		
		<!-- close or cancel -->
		<span class="form-close pull-right">
			<button class="btn">&#x2715;</button>
		</span>
		<!-- Off Center header -->
		<div class="form-box-header">
			<p class="text-center">Form</p>
		</div>
		
		<!-- Forms here -->
		<div class="form-wrapper">
			<!-- Page 4 -->
            <form class="form-horizontal form-reset" id="update4" method="post" action="">
                <fieldset>
                    <legend>Project Budget</legend>
                    <div class="form-group">
                        <label for="pms_grantamount" class="col-lg-2 control-label">P-TAP Grant Amount</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="pms_grantamount" name="pms_grantamount" placeholder="" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pms_localcontribution" class="col-lg-2 control-label">Local contribution(20% of total):</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="pms_localcontribution" name="pms_localcontribution" placeholder="Local Contribution" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pms_additionalfunds" class="col-lg-2 control-label">Additional funds</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="pms_additionalfunds" name="pms_additionalfunds" placeholder="Additional funds" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pms_totalprojectcost" class="col-lg-2 control-label">Total Project Cost</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="pms_totalprojectcost" name="pms_totalprojectcost" placeholder="Additional funds" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="npt_totalprojectcost" class="col-lg-2 control-label">Total Project Cost</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="npt_totalprojectcost" name="npt_totalprojectcost" placeholder="Total Project Cost" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="npt_additionalfunds" class="col-lg-2 control-label">Additional funds</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="npt_additionalfunds" name="npt_additionalfunds" placeholder="Additional funds" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="npt_localcontribution" class="col-lg-2 control-label">Local contribution(20% of total):</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="npt_localcontribution" name="npt_localcontribution" placeholder="Local Contribution" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pdc_totalprojectcost" class="col-lg-2 control-label">Total Project Cost</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="pdc_totalprojectcost" name="pdc_totalprojectcost" placeholder="Total Project Cost" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="pdc_additionalfunds" class="col-lg-2 control-label">Additional funds</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="pdc_additionalfunds" name="pdc_additionalfunds" placeholder="Additional funds" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pdc_localcontribution" class="col-lg-2 control-label">Local contribution(20% of total):</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="pdc_localcontribution" name="pdc_localcontribution" placeholder="Local Contribution" data-parsley-type="number" data-parsley-required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Next</label>
                        <div class="col-lg-6">
                            <button class="btn btn-default">Cancel</button>
                            <button class="btn btn-success submit-button" type="submit" data="update4">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
		</div>
		
	</div>
	<!-- Submit -->
	<div class="form-submit">
		<span class="form-check">
			<button class="btn">&#x2713;</button>
		</span>
	</div>
</div>