<!-- Page 3A -->
<form class="form-horizontal form-reset" id="update3a" method="post" action="">
    <fieldset>
        <h4 class="h4-heading">Pavement Management System (PMS) Project</h4>
        <!-- PMS Projects -->
        <div class="form-group">
            <label for="network_centerlinemiles" class="col-lg-2 control-label">Network Center Lines Miles</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="network_centerlinemiles" name="network_centerlinemiles" placeholder="Network Center Lines Miles" data-parsley-type="number" data-parsley-required>
            </div>
        </div>
        <div class="form-group">
            <label for="network_totalpercentage" class="col-lg-2 control-label">% of Network to be Surveyed</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="network_totalpercentage" name="network_totalpercentage" placeholder="Percentage (%)" data-parsley-required data-parsley-maxlength="3" data-parsley-type="integer">
            </div>
        </div>
        <div class="form-group">
            <label for="network_milesforsurvey" class="col-lg-2 control-label">Network Miles that will be Surveyed</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="network_milesforsurvey" name="network_milesforsurvey" placeholder="Miles for Survey" data-parsley-type="number" data-parsley-required>
            </div>
        </div>
        <div class="form-group">
            <label for="network_milesremaining" class="col-lg-2 control-label">Network Miles Remaining to be Inspected</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="network_milesremaining" name="network_milesremaining" placeholder="Miles Remaining" data-parsley-type="number" data-parsley-required>
            </div>
        </div>
         <div class="form-group">
         <h5>For jurisdictions with more than 333.33 centerline miles, do you have funds to survey more of your network?</h5>
            <label class="col-lg-2 control-label">Additional Funds</label>
            <div class="col-lg-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="addtional_funds_check" id="additionfunds_radio_1" value="yes" class="additionalfunds-radio"> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="addtional_funds_check" id="additonal_funds_radio2" value="no" class="additionalfunds-radio"> No
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group additionalfunds-check hidden">
        <h5>Please note minimum requirement for additional funds is $25,000</h5>
            <label for="network_additionalfunds" class="col-lg-2 control-label">Additional funds amount</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="network_additionalfunds" name="network_additionalfunds" placeholder="Enter amount in ($)" min="25000">
            </div>
        </div>
        <div class="form-group additionalfunds-check hidden">
            <label for="network_percentadditionalfunds" class="col-lg-2 control-label">Percent of Network Completed with Addtional Funding</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="network_percentadditionalfunds" name="network_percentadditionalfunds">
            </div>
        </div>
        <div class="form-group">
            <label for="arterials" class="col-lg-2 control-label">Please check all that apply:</label>
            <div class="col-lg-6">
                <div>
                    <label>
                        <input type="checkbox" name="arterials" id="arterials" value="yes"> Arterials
                    </label>
                    <label>
                        <input type="checkbox" name="collectors" id="collectors" value="yes"> Collectors
                    </label>
                    <label>
                        <input type="checkbox" name="residentials" id="residentials" value="yes"> Residentials
                    </label>
                    <label>
                        <input type="checkbox" name="othertype" id="othertype" value="yes"> Other (Please describe below)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group hidden" id="pms_other_description">
            <label for="other_description" class="col-lg-2 control-label">Other description</label>
            <div class="col-lg-8">
                <textarea type="text" class="form-control" id="other_description" name="other_description" placeholder="include any special circumstances such as changes to CL mile total"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Next</label>
            <div class="col-lg-6">
                <button class="btn btn-default">Cancel</button>
                <button class="btn btn-primary submit-button next-step" type="submit" data="update3a">Submit</button>
            </div>
        </div>
    </fieldset>
</form>