<form class="form-horizontal form-reset" id="update2" method="post" action="">
    <fieldset>
        <!--legend>Form 2</legend> -->
        <div class="form-group">
            <label for="last_major_inspection" class="col-lg-2 control-label">Last Major MTC Inspection</label>
            <div class="col-lg-6">
                <input type="text" class="form-control disabled-input" disabled id="last_major_inspection" name="last_major_inspection" placeholder="Last Major MTC Inspection" data-parsley-required>
            </div>
        </div>
        <div class="form-group">
            <label for="pms_consultants" class="col-lg-2 control-label">List any PMS consultants you prefer to work with (optional):</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="pms_consultants" name="pms_consultants" placeholder="PMS Consultants" data-parsley-required>
            </div>
        </div>
        <div class="form-group">
            <label for="digitalmap_format" class="col-lg-2 control-label">If you have a digital map (e.g., GIS) of your Jurisdiction, list the format: </label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="digitalmap_format" name="digitalmap_format" placeholder="GIS, PDF, JPEG" data-parsley-required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Do you have an agency GIS map integrated in StreetSaver?</label>
            <div class="col-lg-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="linked_basemap" id="basemap_radio_1" value="yes"> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="linked_basemap" id="basemap_radio_2" value="no"> No
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="linked_basemap" id="basemap_radio_3" value="not sure"> Not Sure
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <ul class="list-inline pull-right">
                    <li>
                        <button class="btn btn-default">Cancel</button>
                    </li>
                    <li>
                        <button class="btn btn-primary submit-button next-step" type="submit" data="update2">Continue</button>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
</form>
