<form class="form-horizontal form-reset" id="update4" method="post" action="">
    <fieldset>
        <div id="pmsSummary" class="hidden">
            <h4 class="h4-heading">Pavement Management Service Project</h4>
            <div class="form-group">
                <label for="pms_grantamount" class="col-lg-2 control-label">Projected grant amount</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pms_grantamount" name="pms_grantamount" placeholder="" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="pms_localcontribution" class="col-lg-2 control-label">Local contribution(20% of total):</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pms_localcontribution" name="pms_localcontribution" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="pms_additionalfunds" class="col-lg-2 control-label">Additional committed funds</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pms_additionalfunds" name="pms_additionalfunds" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="pms_totalprojectcost" class="col-lg-2 control-label">Total cost to juridiction</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pms_totalprojectcost" name="pms_totalprojectcost" disabled>
                </div>
            </div>
        </div>
        <div id="npaSummary" class="hidden">
            <h4 class="h4-heading">Non Pavement Asset Management Project</h4>
            <div class="form-group">
                <label for="npt_estimatedcost" class="col-lg-2 control-label">Estimated Cost</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="npt_estimatedcost" name="npt_estimatedcost" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="npt_grantamount" class="col-lg-2 control-label">Projected Grant Amount</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="npt_grantamount" name="npt_grantamount" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="npt_localcontribution" class="col-lg-2 control-label">Local contribution(20% of total):</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="npt_localcontribution" name="npt_localcontribution" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="npt_additionalfunds" class="col-lg-2 control-label">Additional funds needed to complete project</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="npt_additionalfunds" name="npt_additionalfunds" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="npt_totalprojectcost" class="col-lg-2 control-label">Total cost to jurisdiction</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="npt_totalprojectcost" name="npt_totalprojectcost" disabled>
                </div>
            </div>
        </div>
        <div id="pdpSummary" class="hidden">
            <h4 class="h4-heading">Pavement Design Project (PS&E)</h4>
            <div class="form-group">
                <label for="pdc_estimatedcost" class="col-lg-2 control-label">Estimated Cost</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pdc_estimatedcost" name="pdc_estimatedcost" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="pdc_grantamount" class="col-lg-2 control-label">Projected Grant Amount</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pdc_grantamount" name="pdc_grantamount" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="pdc_localcontribution" class="col-lg-2 control-label">Local contribution(20% of total):</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pdc_localcontribution" name="pdc_localcontribution" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="pdc_additionalfunds" class="col-lg-2 control-label">Additional funds needed to complete project</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pdc_additionalfunds" name="pdc_additionalfunds" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="pdc_totalprojectcost" class="col-lg-2 control-label">Total cost to jurisdiction</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control disabled-input" id="pdc_totalprojectcost" name="pdc_totalprojectcost" disabled>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <div class="col-lg-12">
            <ul class="list-inline pull-right">
                <li>
                    <button class="btn btn-default">Cancel</button>
                </li>
                <li>
                    <button class="btn btn-primary submit-button next-step" type="submit" data="update4">Continue</button>
                </li>
            </ul>
        </div>
    </div>
</form>
