<!-- form-box -->
<div id="form-box" class="row">
	
	<div class="box-wrapper col-lg-8 col-lg-offset-2">
		
		<!-- close or cancel -->
		<span class="form-close pull-right">
			<button class="btn">&#x2715;</button>
		</span>
		<!-- Off Center header -->
		<div class="form-box-header">
			<p class="text-center">Form</p>
		</div>
		
		<!-- Forms here -->
		<div>
			
		</div>
		
		<!-- Submit -->
		<div class="form-submit pull-right">
			<span class="form-check">
				<button class="btn">&#x2713;</button>
			</span>
		</div>
		
	</div>
	
</div>