<!-- Page 3C -->
<form class="form-horizontal form-reset project-options" id="update3c" method="post" action="">
    <fieldset>
        <h4 class="h4-heading">Pavement Design Projects - Develop Plans, Specifications & Cost Estimates (PS&E)</h4>
        <div class="form-group">
            <label for="option3_projectdescription" class="col-lg-2 control-label">Project description</label>
            <div class="col-lg-8">
                <textarea type="text" class="form-control" id="option3_projectdescription" name="option3_projectdescription" placeholder="Describe pavement design project" data-parsley-required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="option3_anticipatedconstructiondate" class="col-lg-2 control-label">Anticipated Construction Start Date</label>
            <div class="col-lg-8">
                <input type="text" class="form-control date" id="option3_anticipatedconstructiondate" name="option3_anticipatedconstructiondate" placeholder="MM/YYYY" data-parsley-required>
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="option3_estimatedcost" class="col-lg-2 control-label">Total Estimated Cost</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="option3_estimatedcost" name="option3_estimatedcost" placeholder="Total" data-parsley-required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label"> Are streets eligible for federal aid (only arterials and collectors)?</label>
            <div class="col-lg-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="option3_federalaideligible" id="federal_aid_1" value="yes"> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="option3_federalaideligible" id="federal_aid_2" value="no"> No
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Does the construction phase of this project have committed funding? </label>
            <div class="col-lg-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="option3_constructionfullyfunded" id="constuction_funded_1" value="yes"> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="option3_constructionfullyfunded" id="constuction_funded_2" value="no"> No
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <ul class="list-inline pull-right">
                    <li>
                        <button class="btn btn-default">Cancel</button>
                    </li>
                    <li>
                        <button class="btn btn-primary submit-button next-step" type="submit" data="update3c">Continue</button>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
</form>
