<title>Welcome to the NodeJS Template</title>
<link rel="stylesheet" href="stylesheets/bootstrap.css">
<link rel="stylesheet" href="bower/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="bower/datatables/media/css/dataTables.bootstrap.css">
<style>
#divlist h5:hover {
    cursor: pointer;
}

#divlist p {
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}
</style>
