<!-- Navigation -->
<nav class="navbar navbar navbar-static-top navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar-header pad-left-l">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand " href="#">P-Tap</a> -->
            <div style="padding:10px;">
                Pavement Technical Assistance Program
                <br> 2017 Application
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse pull-right">
            <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul> -->
            
        </div>
    </div>
</nav>
