<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="app-viewport">
        <% include ../partials/nav %>
            <!-- Form -->
            <section class="col-lg-12">
	            <!-- Box 1 -->
	            <% include ../partials/form-box-1 %>
	            <% include ../partials/form-box-2 %>
	            <% include ../partials/form-box-3 %>
	            <% include ../partials/form-box-4 %>
	            <% include ../partials/form-box-5 %>
	            
            </section>
            
            <!-- Footer -->
            <% include ../partials/footer %>
        </div>
            <!-- /.container -->
            <!-- <script src="bower/jquery/dist/jquery.min.js"></script> -->
            <script src="includes/vendor/jquery-1.9.1.min.js"></script>
            <script src="includes/vendor/bootstrap.js"></script>
            <script src="bower/datatables/media/js/jquery.dataTables.js"></script>
            <script src="bower/datatables/media/js/dataTables.bootstrap.js"></script>
            <script src="includes/vendor/jquery.easing.1.3.js"></script>
            <!--    <script src="includes/vendor/jquery.mousewheel.js"></script> -->
            <script src="includes/vendor/jquery.vaccordion.js"></script>
            <script src="includes/vendor/uuid.js"></script>
            <script src="//kendo.cdn.telerik.com/2015.2.805/js/kendo.all.min.js"></script>
            <script src="bower/parsleyjs/dist/parsley.min.js"></script>
            <script src="includes/vendor/stroll.min.js"></script>
            <script src="includes/main.js"></script>
</body>

</html>
