<html>
<head>
	<title>Welcome to the NodeJS Template</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
</head>
<body>
Welcome to the NodeJS Template

<script src="includes/vendor/jquery.js"></script>
<script src="includes/vendor/bootstrap.js"></script>
</body>
</html>